<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}  The Bladesmith's Workbench  {% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}" />
        <!-- <link rel="stylesheet" href="{{ asset('css/styles.css') }}" /> -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        
        {% endblock %}

        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
    </head>
    <body>
        {% block body %}
            {{ include('store/_baseNav.html.twig') }}

        {% endblock %}












        {% block footer %}

            {#{{ include('store/_footerNav.html.twig') }}#}
        {% endblock %}

        {% block javascripts %}
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ asset('js/dependencies/velocity.js') }}"></script>

        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
