

html{
	font-size: 62.5%;
}

header{
	height:50px;
	background: url('../assets/pw_maze_black.png');
	background-size: cover;
	border-bottom: 2px solid rgba(0,0,0,0.8);

}


nav h1.logo{
	font-size: 1.6rem;
	
}

h1.store-h1{
	text-align: center;
	color: rgba(255,255,255, 0.8);
	text-shadow: 0 1px 0px rgba(0,0,0, 0.6);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
	background: rgba(0,0,0,0.3);
	padding: 1rem;
	width: 60vw;
	margin: 0 auto;
}


div.hero{
	background: url('../assets/knife1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 60vh;

}



p.item-name {
	color: red;
}

