

html{
	font-size: 62.5%;
	/*background: rgba(0,0,0,0.1);*/
}

header{
	height:50px;
	background: url('../assets/pw_maze_black.png');
	background-size: cover;
	border-bottom: 2px solid rgba(0,0,0,0.8);

}


nav h1.logo{
	font-size: 1.6rem;
	
}

h1.store-h1{
	text-align: center;
	color: rgba(255,255,255, 0.8);
	text-shadow: 0 1px 0px rgba(0,0,0, 0.6);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
	background: rgba(0,0,0,0.3);
	padding: 0;
	width: 60vw;
	margin: 0 auto;
	font-size: 6.4vw;
}


div.hero{
	background: url('../assets/knife1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 60vh;
	margin-bottom: 0;
	padding-top:4rem;
	border-bottom: 4px solid rgba(0,0,0,0.8);

}

div.hero ol.breadcrumb{
	border-radius: 0;
	background: rgba(0,0,0,0.5)

}





/*====================================================================	Nav*/


nav.navbar.navbar-inverse{
	border-radius: 0;
	margin-bottom: 0;
}

ul.main-nav{
	float: right;
}

li.cart a{
	/*color: orange;*/

	/*width: 100px;
	height: 100px;*/
	/*padding: 0 1rem;*/
	display: block;
	height: 5rem;
	width: 10rem;
	margin: 0 auto;
	line-height: 2.5rem	

	border: 1px solid red;
}

li.cart a span.cart-count{
	font-family: cursive;
}



/*====================================================================	cart list*/

div.cartList{
	display: none;
	position: absolute;
	z-index: 2;
}

span.close-cart{
	margin: 1rem;
	width: calc(100% - 2rem);
}

table.table tr.cartStatus td{

	border-bottom: none;
	
}

table.table tr.cartStatus td{
	border-right: none;
	border-left: none;
}
/*
table.table tr.cartStatus td:last-child{
	border-left: none;
	border-right: none;
}
*/
table.table tr.cartStatus td{
	border-top: 1px dashed grey;
}

table.table tr.cartStatus:last-of-type td{
	border-bottom: none;
}

table.table{
	border-bottom: none;
}
/*====================================================================	store items list page*/


main{
	margin-bottom: 100px;
	/*background: rgba(0,0,0,0.1);*/
}


div.row.items{
	background: none;
}

ul.list-inline.container{
	background: none;
	padding: 0;

}

li.store-item{
	margin-top: 6rem;
	position: relative;
	padding: 0;
	list-style: none;
}


li.store-item a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
}

li.store-item a div.item-name{
	position: absolute;
	bottom: 0;
	left: calc(4rem/2);
	width: 100%;
	padding: 1rem;
	background: rgba(0,0,0,0.25);
	margin-left: -20px;
	line-height: 1rem;

	font-size: 1.2rem;
	color: #fff;


}

li.store-item a div.item-img{
	width: 100%;
	height: 20rem;
	/*border: 1px solid rgba(0,0,0,0.38);*/
	border: 1px solid red;

	

}


/*
nav.padgination{
	margin: 0 auto;
}
*/

div.bottom-pagdgination,
div.top-pagdgination{
}

div.bottom-pagdgination{
	margin-top: 8rem;
}

div.top-pagdgination{
	margin-top: -2rem;
}

/*
ul.pagination.pagination-sm{
	border-bottom: 1px solid red;
}
*/


li.dot-dot-dot a{
	border-top: 0;
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: -1rem;
}


/*====================================================================	item page*/

/*main.item-details*/

main.item-details h1{
	margin-top: 0;
	width: 100%;
	overflow-x: hidden;
}


main.item-details h3{
	font-size: 1.8rem;
	margin-top: 0;
}

main.item-details ul.suggensted-vendor-items li div.suggensted-vendor-item-details p{
	line-height: 1.5rem;
	font-size: 1.2rem;
}

main.item-details h3.suggensted-vendor{
	margin-top: -1rem;
}

main.item-details ul.suggensted-vendor-items{
	padding: 0;
}


main.item-details ul.suggensted-vendor-items li{
	list-style: none;
	margin-bottom: 2rem;
	clear: both;
}


main.item-details ul.suggensted-vendor-items li p{
	line-height: 1rem;
}


div.vendorItem-img{
	height: 12vw;
}

main.item-details p.vendor{
	color: rgba(0,0,0,0.6);
}

main.item-details p.in-stock{
	color: #5cb85c;
}


main.item-details p.out-of-stock{
	color: #d9534f;
}

div.item-img p.out-of-stock{
	color: #d9534f;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 1rem;

	padding: .25rem 0;
	border-bottom: 1px solid #d9534f;
	border-top: 1px solid #d9534f;

}



div.display-item{
	margin-bottom: 15rem;
}


img.img-responsive.center-block.item-img{
	max-height: 30rem;
	/*border: 1px solid rgba();*/
	border: 1px solid rgba(0,0,0,0.38);
}



form.add-to-cart{
	margin-bottom: 3rem;
}

form.add-to-cart div{
	margin-bottom: 1rem;
}

p.out-of-stock-sm-thumbnail{
	font-size: .8rem;
	padding: .25rem 0;
	text-align: center;
	border-bottom: 1px solid #d9534f;
	border-top: 1px solid #d9534f;
	margin-top: 1rem;
}


/*====================================================================	login form*/
main.login-form form{
	margin: 0;
}

main.login-form h1,
main.customer-reg h1,
main.vendor-sign-up h1,
main.edit-vendor h1,
main.customer-edit h1,
main.edit-item h1,
main.add-item h1,
main.que h1,
div.login p{
	padding-left: 3rem;
}

a.btn-cancel:hover{
	border-bottom: 1px solid rgba(0,0,0,0.8);
	border-radius: 0;
	padding-bottom: .25rem
}

div.login p{
	margin-top: 5rem;
}
/*
main.login-form div.login{
	border: 1px solid red;
}*/





/*====================================================================	checkout page*/

main.checkout ul li{
	list-style: none;
	margin-top: 4rem;
}

main.checkout div.checkout-Item-img{
	height: 5rem;
	width: 5rem;
}


main.checkout div.checkout-vendor-item-details p{
	line-height: 1rem
	font-size: .5rem;
}


td.checkout-item{
	padding-bottom: 1rem;
}


td.checkout-item-price,
td.checkout-item-img-cell{
	padding-right: 3rem;
	line-height: 2.5rem;

}

table{
	border-bottom: 1px solid #9c9c9c;
	margin: 2rem 0;
}

table th{
	padding: 1em;
	border: 1px solid #ececec;
}

table td{
	border: 1px solid #9c9c9c;
}

table tr:nth-child(even) {
	background: #ececec;
}



div.custom-checkout{
	margin-top: 1rem;
}

div.custom-checkout div{
	margin: 1rem;
	position: relative;
	z-index: 0;
}

div.custom-checkout div input{
	position: relative;
	z-index: 0;
}

div.custom-checkout div:first-of-type{
	margin-top: 0;
}

div.custom-checkout div:nth-child(8){
	margin-top: 4rem;
}

div.custom-checkout div.alert-danger{
	margin: 0 auto;
}


div.custom-checkout p.payment-errors{
	text-align: center;
}


div.custom-checkout div.send-payment{
	margin: 0 auto;
}

/*====================================================================	vendor's item page page*/

main.dashboard h1{
	text-align: center;
	margin-bottom: 8rem;
}

main.dashboard div.well a{
	display: block;
	width: 100%;
	height: 100%;
}








/*====================================================================	vendor's item page page*/


li.vendor-item-review div.item-name p:last-of-type{
	padding-bottom: 1rem;
}




div.item-action{
	background: none;
}


a.add-item-btn{
	border-radius: 0 0 6px  6px;
	padding-top: 3rem;
}

main.edit-item


main.edit-item form{
	margin-top: 2rem;
}

input.item-description{
	display: block;
}





div.vendor-delete-item div.item-img{
	height: 25vw;
	width: 25vw;
}



a.cancel-delete{
	border-radius: 0;
	padding-bottom: .5rem;
	border-bottom: 1px solid #9c9c9c;
}


p.removed-from-store{
	text-align: center;
}


/*====================================================================	que page*/

main.que ul.list-group{
	margin-top: 4rem;
}




main.customer-order-que div.well.well-sm{
	padding: 4rem;
}

address.customer-address{
	line-height: 1rem;
}





/*====================================================================	footer page*/


























