
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('store') }}">The Bladesmith's Workbench</a>
            </div>


            {#<ul class="nav navbar-nav">#}
                {#<li class="cart"><a class="cart" href="#">Cart <span class="glyphicon glyphicon-shopping-cart"><span class="cart-count">6</span></span></a></li>#}
            {#</ul>#}


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">




                <ul class="nav navbar-nav main-nav">


                    {% if is_granted('ROLE_VENDOR') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vendor: {{ app.user.firstName }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li role="presentation"><a href="{{ path('que_list')}}">Your Order Que</a></li>

                                {#<li role="separator" class="divider"></li>#}
                                {#<li role="presentation"><a href="{{ path('vendor_edit')}}">edit your profile</a></li>#}

                                <li role="separator" class="divider"></li>
                                <li role="presentation"><a href="{{ path('vendor_item_collection')}}">Your Items</a></li>

                                <li role="separator" class="divider"></li>
                                <li role="presentation"><a href="{{ path('vendor_dashboard') }}">Vendor Dashboard</a></li>

                                <li role="separator" class="divider"></li>
                                <li role="presentation"><a href="{{ path('vendor_edit') }}">Edit Vendor Info</a></li>

                                <li role="separator" class="divider"></li>
                                <li role="presentation"><a href="{{ path('secure_logout') }}">Logout</a></li>


                            </ul>
                        </li>
                    {% else %}
                        {#<li role="presentation"><a href="{{ path('secure_logout') }}">Logout</a></li>#}

                    {% endif %}




                    {% if is_granted('ROLE_CUSTOMER') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{ app.user.firstName }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li role="presentation"><a href="{{ path('guest_edit') }}">Edit Customer Info</a></li>
                                <li role="separator" class="divider"></li>
                                <li role="presentation"><a href="{{ path('secure_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% elseif is_granted('ROLE_VENDOR') == false %}

                        <li role="presentation"><a href="{{ path('vendor_register') }}">Become a vendor</a></li>
                        <li role="presentation"><a href="{{ path('guest_register') }}">Customer Registration</a></li>
                        <li role="presentation"><a class="" href="{{ path('secure_login') }}"><span class="label label-success">Login</span></a></li>
                    {% endif %}

                    {% set count = 0 %}
                    {% for item in cartCount %}
                        {% set count = count + item.quantity %}
                    {% endfor %}

                    <ul class="nav navbar-nav">
                        <li class="cart customers-cart"><a class="cart" href="{{ path('store_checkout') }}">Cart <span class="glyphicon glyphicon-shopping-cart"><span class="cart-count">{{ count }}</span></span></a></li>
                    </ul>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        {{ include('store/_cartList.html.twig') }}
    </nav>
</header>























































{#<header>#}
        {#<nav class="navbar navbar-inverse">#}

            {#<div class="container">#}
                {#<div class="navbar-header">#}
                    {#<button type="button"#}
                            {#class="navbar-toggle collapse"#}
                            {#data-toggle="collapse"#}
                            {#data-target="#collapsemenu"#}
                            {#aria-expanded="false">#}

                        {#<span class="sr-only">Toggle nav</span>#}
                        {#<span class="icon-bar"></span>#}
                        {#<span class="icon-bar"></span>#}
                        {#<span class="icon-bar"></span>#}
                    {#</button>#}

                    {#logo#}
                    {#<h1 class="navbar-brand"> <a href="{{ path('home') }}">The Bladesmith's Workbench</a> </h1>#}

                {#</div>#}


                {#<div class="collapse navbar-collapse" id="collapsemenu">#}

                    {#<ul class="nav navbar-nav">#}

                        {# Link to a vendor login / logout #}

                        {#{% if is_granted('ROLE_CUSTOMER') || is_granted('ROLE_VENDOR') %}#}
                            {#<li role="presentation"><a href="{{ path('secure_logout') }}">Logout</a></li>#}
                            {#<li role="presentation"><a href="{{ path('vendor_dashboard') }}">Dashboard</a></li>#}


                        {#{% else %}#}
                            {#<li role="presentation"><a href="{{ path('secure_guest_login') }}">Guest Login</a></li>#}
                            {#<li role="presentation"><a href="{{ path('guest_register') }}">Guest Register</a></li>#}

                        {#{% endif %}#}



                        {#{% if is_granted('ROLE_VENDOR') %}#}
                        {# Link to check out #}
                        {#<li role="presentation" ><a href="{{ path('store_checkout') }}">Cart</a></li>#}

                        {#{% endif %}#}

                    {#</ul>#}

                {#</div>#}



            {#</div>#}







        {#</nav>#}
{#</header>#}
