
<table class="table" id="cartList">

    <tr>
        <th>Item</th>
        <th>Price</th>
        {#<th>Remove Item</th>#}
    </tr>


    {% set total = 0.00 %}
    {% set count = 0 %}

    {% for item in cartCount %}

        <tr>
            <td>
                <a class="checkout-item row" href="{{ path('single_item', { 'itemObj' : item.id }) }}">
                    {{ item.itemName }}
                </a>
            </td>

            <td>
                <p>${{ item.price | number_format(2, '.', ',')}}</p>
            </td>


            {% set total = total + item.price %}
            {% set count = count + 1  %}
            {#<td>#}
            {#<form class="col-sm-2" action="{{ path('remove_item_at_checkout', {'itemId' : item.id}) }}" method="GET">#}
            {#<button class="btn btn-danger" type="submit"><span class="fa fa-times-circle-o"></span></button>#}
            {#</form>#}
            {#</td>#}
        </tr>

    {% endfor %}


    <tr class="cartStatus">
        <td>
            Items in cart:
        </td>

        <td>
            {{ count }}
        </td>
    </tr>

    <tr class="cartStatus">
        <td>
            Total:
        </td>

        <td>
            ${{ (((total * 100) | round(0, 'floor')) / 100) | number_format(2, '.', ',') }}
        </td>
    </tr>


</table>