

<div class="cartList col-xs-12" >
    <div class="panel panel-default pull-right">

        <!-- Default panel contents -->
        <div class="panel-heading"><a href="{{ path('store_checkout') }}">Click to Checkout <span class="fa fa-angle-double-right"></span></a></div>

        <!-- Table -->
        {% if app.user != null %}

            {{ include('store/_cartTablePostLogin.html.twig') }}

        {% else %}

            {{ include('store/_cartTablePreLogin.html.twig') }}

        {% endif %}

        <div class="panel-heading"><a href="{{ path('store_checkout') }}">Click to Checkout <span class="fa fa-angle-double-right"></span></a></div>

        <span type="button" class="close-cart btn btn-cancel col-xs-offset-4">close</span>
    </div>
</div>


{#<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}
{#<script src="{{ asset('js/main.js') }}"></script>#}