{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    - Checkout
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        Stripe.setPublishableKey('{{ stripe_public_key }}');


        $(function() {
            var $form = $('#payment-form');
            $form.submit(function(event) {

                event.preventDefault();
                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from being submitted:
//                return false;
            });
        });


        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('#payment-form');

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.payment-errors-wrapper').removeClass('hidden');
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                $form.find('.payment-errors');
                $form.find('.payment-errors-wrapper').addClass('hidden');

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };
    </script>






{% endblock %}

{% block body %}
    {{ parent() }}

<ol class="breadcrumb">
    <li><a href="{{ path('store') }}">Home</a></li>
    <li class="active">Checkout</li>
</ol>

<main class="checkout container">

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Qty.</th>
                    <th>Price</th>
                    <th>Remove Item</th>
                </tr>

                {% set count = 0 %}
                {% set total = 0.00 %}

                {% for item in items %}
                    {% set count = count + item.quantity %}
                    {% set total = total + (item.item.price * item.quantity) %}

                    <tr>
                        <td>
                            <a class="checkout-item row" href="{{ path('single_item', { 'itemObj' : item.item.id }) }}">
                                {{ item.item.itemName }}
                            </a>
                        </td>

                        <td>
                            <p>{{item.quantity }} x ${{ item.item.price | number_format(2, '.', ',')  }}</p>
                        </td>

                        <td>
                            <p>${{ (item.item.price * item.quantity) | number_format(2, '.', ',') }}</p>
                        </td>

                        <td>
                            <form class="col-sm-2" action="{{ path('remove_item_at_checkout', {'itemId' : item.item.id}) }}" method="GET">
                                <button class="btn btn-danger" type="submit"><span class="fa fa-times-circle-o"></span></button>
                            </form>
                        </td>


                    </tr>
                {% endfor %}
            </table>

            <table class="table table-striped">

                <tr>
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    <td>
                        <p>Total items in cart: {{ count }}</p>
                    </td>


                </tr>
                <tr>
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    <td>
                        <p>Total: ${{ total | number_format(2, '.', ',') }}</p>
                    </td>


                </tr>
            </table>
        </div>


        {#<!-- add checkout form here -->#}

        <div class="col-md-4 col-md-offset-2 col-sm-6 custom-checkout">
            {{ include('store/_customCheckoutForm.html.twig') }}
        </div>


    </div>


</main>




{% endblock %}








{#<form action="" method="POST">#}
    {#<script#}
            {#src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
            {#data-key="{{ stripe_public_key }}"#}
            {#data-amount="{{ cart.total * 100 }}"#}
            {#data-name="Demo Site"#}
            {#data-description="Widget"#}
            {#data-image="/img/documentation/checkout/marketplace.png"#}
            {#data-locale="auto">#}
    {#</script>#}
{#</form>#}