
<form action="" method="POST" id="payment-form">

    <div class=" payment-errors-wrapper input-group input-group-sm alert-danger alert col-xs-11 hidden">
        <p class="payment-errors "></p>
    </div>



{#customer info#}
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><span class="fa fa-user"></span> Full name</span>
        {#<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">#}
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="name" placeholder="Full name" value="{{ app.user.firstName }} {{ app.user.lastName }}">
    </div>


    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Street address</span>
        {#<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">#}
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="address_line1" placeholder="Street address" value="{{ app.user.addressLine1 }}">
    </div>


    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Suite / Apt #</span>
        {#<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">#}
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="address_line2" placeholder="Suite / Apt #" value="{{ app.user.addressLine2 }}">
    </div>


    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">City</span>
        <input type="text" class="form-control " aria-describedby="sizing-addon3" size="20" data-stripe="address_city" maxlength="2" placeholder="City" value="{{ app.user.city }}">

        <span class="input-group-addon" id="sizing-addon3">State</span>
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="address_state" maxlength="2" placeholder="State" value="{{ app.user.state }}">

        <span class="input-group-addon" id="sizing-addon3">Zip</span>
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="address_zip" maxlength="2" placeholder="Zip code" value="{{ app.user.zip }}">

    </div>



    {#only customers in the USA at this time#}
    <input type="text" class="hidden" data-stripe="address_country" value="US">
    <input type="text" class="hidden" data-stripe="country" value="US">



{#payment info#}
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><span class="fa fa-credit-card"></span></span>
        {#<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">#}
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="number" maxlength="16" placeholder="Card Number">
    </div>




    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Exp Month</span>
        <input type="text" class="form-control " aria-describedby="sizing-addon3" size="20" data-stripe="exp_month" maxlength="2" placeholder="MM">

        <span class="input-group-addon" id="sizing-addon3">Exp Year</span>
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="exp_year" maxlength="2" placeholder="YY">

        <span class="input-group-addon" id="sizing-addon3">CVC</span>
        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20"  data-stripe="cvc" maxlength="3" placeholder="CVC">
    </div>



    {#<div class="input-group input-group-sm col-sm-6">#}
        {#<span class="input-group-addon" id="sizing-addon3">CVC</span>#}
        {#<input type="text" class="form-control" aria-describedby="sizing-addon3" size="20"  data-stripe="cvc" maxlength="3" placeholder="CVC">#}
        {#<input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" data-stripe="number" maxlength="16" placeholder="Card Number">#}
    {#</div>#}


    {% if cartCount | length == 0 %}

    <div class=" send-payment input-group input-group-sm col-xs-11">
        <input type="submit" disabled="disabled" class="submit btn btn-cancel col-xs-12" value="No items in cart">
    </div>
    {% else %}

    <div class=" send-payment input-group input-group-sm col-xs-11">
        <input type="submit" class="submit btn btn-success col-xs-12" value="Submit Payment">
    </div>
    {% endif %}

</form>