




<footer class="footer site-footer nav navbar-fixed-bottom navbar-inverse">

    <nav class="container">

         {#Link to home page#}
        {#<h1 class="logo col-md-4 col-xs-6 col-xs-offset-1"> <a href="{{ path('store') }}">The Bladesmith's Workbench</a> </h1>#}

        <ul class="nav navbar-nav">

             {#Link to a vendor login / logout#}

            {% if is_granted('ROLE_VENDOR') %}
            <li  role="presentation" ><a href="{{ path('secure_logout') }}">Vendor Logout</a></li>
            <li role="presentation"><a href="{{ path('vendor_dashboard') }}">Dashboard</a></li>

            {% else %}
            <li role="presentation"><a class="text-muted" href="{{ path('secure_login') }}">Vendor Login</a></li>
            <li role="presentation"><a href="{{ path('vendor_register') }}">Become a vendor</a></li>

            {% endif %}

        </ul>
    </nav>

</footer>

