
{#<div class="col-xs-12">#}


{{ form_start(registrationForm,{
    'attr': {
        'class': 'col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-lg-4 col-md-6 col-sm-6'
    }
}) }}

    {#{{ form_widget(registrationForm) }}#}

<div class="col-md-6 col-sm-6">
    {{ form_row(registrationForm.firstName,{
        'attr': {
            'placeholder': 'First Name',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-md-6 col-sm-6">
    {{ form_row(registrationForm.lastName,{
        'attr': {
            'placeholder': 'Last Name',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-md-6 col-sm-6">
    {{ form_row(registrationForm.phone,{
        'attr': {
            'placeholder': 'Phone No.',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-sm-6 ">
    {{ form_row(registrationForm.email,{
        'attr': {
            'placeholder': 'Email',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>




<div class="col-sm-6 ">
    {{ form_row(registrationForm.addressLine1,{
        'attr': {
            'placeholder': 'Street Address',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-sm-6 ">
    {{ form_row(registrationForm.addressLine2,{
        'attr': {
            'placeholder': 'Suite / Apt',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>




<div class="col-sm-6 ">
    {{ form_row(registrationForm.city,{
        'attr': {
            'placeholder': 'City',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>




<div class="col-sm-3 ">
    {{ form_row(registrationForm.state,{
        'attr': {
            'placeholder': 'State',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-sm-3 ">
    {{ form_row(registrationForm.zip,{
        'attr': {
            'placeholder': 'Zip',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-sm-6 ">
    {{ form_row(registrationForm.nakedPassword.first,{
        'attr': {
            'placeholder': 'New Password',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>



<div class="col-sm-6 ">
    {{ form_row(registrationForm.nakedPassword.second,{
        'attr': {
            'placeholder': 'Confirm Password',
        },
        'label_attr': {
            'class': 'sr-only'
        }
    }) }}
</div>

<div class="col-sm-6 ">

</div>


<div class="col-sm-3 col-xs-3 ">
    <button type="submit" class="btn btn-primary" formnovalidate >{{ submitBtn }}</button>

</div>


    {#<button type="submit" class="btn btn-primary" formnovalidate >{{ submitBtn }}</button>#}
    <a class="btn btn-cancel" href="{{ cancelPath }}">Cancel</a>


{{ form_end(registrationForm) }}








{#{{ form_row(registrationForm.firstName) }}#}
{#{{ form_row(registrationForm.lastName) }}#}
{#{{ form_row(registrationForm.phone) }}#}
{#{{ form_row(registrationForm.email) }}#}

{#{{ form_row(registrationForm.city) }}#}
{#{{ form_row(registrationForm.country) }}#}
{#{{ form_row(registrationForm.addressLine1) }}#}
{#{{ form_row(registrationForm.addressLine2) }}#}
{#{{ form_row(registrationForm.state) }}#}
{#{{ form_row(registrationForm.zip) }}#}

{#{{ form_row(registrationForm.nakedPassword.first) }}#}
{#{{ form_row(registrationForm.nakedPassword.second) }}#}
