


{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Receipt

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    {{ parent() }}


{# breadcrumbs #}
<ol class="breadcrumb">
    <li><a href="{{ path('store') }}">Home</a></li>
    <li class="active">Receipt</li>
</ol>



<main class="reciept container-fluid">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-sm-offset-3">



            <button class="btn btn-info" onclick="window.print()">Print for your records</button>

            <div class="page-header">
                <h1>Receipt</h1>
                <small>Print and keep for your records</small>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>Item</th>
                    <th>Item ID#</th>
                    <th>Qty.</th>
                    <th>Price</th>
                </tr>

                {% set count = 0 %}
                {% set total = 0.00 %}

                {% for item in items %}
                    {% set count = count + item.quantity %}
                    {% set total = total + (item.item.price * item.quantity) %}

                    <tr>
                        <td>
                            <p >
                                {{ item.item.itemName }}
                            </p>
                        </td>

                        <td>
                            <p>{{ item.item.id }}</p>
                        </td>

                        <td>
                            <p>{{item.quantity }} x ${{ item.item.price | number_format(2, '.', ',')  }}</p>
                        </td>

                        <td>
                            <p>${{ (item.item.price * item.quantity) | number_format(2, '.', ',') }}</p>
                        </td>

                    </tr>
                {% endfor %}
            </table>

            <table class="table table-striped">
                <tr>
                    <td>
                        <p>Total items bought: {{ count }}</p>
                    </td>

                    <td>
                        <p>Total: ${{ total | number_format(2, '.', ',') }}</p>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>Invoice Receipt ID: <span class="text-danger">{{ invoiceId }}</span></p>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</main>






{% endblock %}
{% block javascript %}
    {{ parent() }}

{% endblock %}







