
<nav class="padgination ">


    {% if page | round(0,'floor') > 4 %}

    <ul class="pagination pagination-sm">

        {% if currentPage != 1 %}

            <li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) - 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>

        {% else %}

            <li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>

        {% endif %}
        {#<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>#}






        {% if (currentPage + 1) > 4 %}

            <li class="" >
                <a href="{{ path('store_page', {'pageNumber': 1 }) }}">{{ 1 }}<span class="sr-only">(current)</span></a>

            </li>

            <li class="dot-dot-dot" ><a>...</a></li>

        {% endif %}



        {# loop for padgination #}
        {% for i in 1..page | round(0,'floor') %}


        {% if currentPage < i + 2 and i < currentPage + 2 %}



            {#{% set page = i + 4 %}#}

            {% if currentPage == i %}

                <li class="active" >
                    <a>{{ i }}<span class="sr-only">(current)</span></a>

                </li>


            {% else %}

                <li class="" >
                    <a href="{{ path('store_page', {'pageNumber': ((i) * 16)}) }}">{{ i }}<span class="sr-only">(current)</span></a>
                </li>


            {% endif %}




        {% else  %}


        {% endif %}




            {#<li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>#}

        {% endfor %}

        {% if (currentPage + 1 < (page | round(0,'floor'))) %}

            <li class="dot-dot-dot" ><a>...</a></li>

            <li class="" >
                {#<form>#}
                {#<button type="submit" >{{ i }}</button>#}
                {#</form>#}
                <a href="{{ path('store_page', {'pageNumber': (page | round(0,'floor') * 16)}) }}">{{ page | round(0,'floor') }}<span class="sr-only">(current)</span></a>

            </li>


        {#{% if (currentPage + 1 > (page | round(0,'floor'))) %}#}

            {#<li class="" >#}
                {#<form>#}
                {#<button type="submit" >{{ i }}</button>#}
                {#</form>#}
                {#<a href="{{ path('store_page', {'pageNumber': (page | round(0,'floor') * 16)}) }}">{{ 1 }}<span class="sr-only">(current)</span></a>#}

            {#</li>#}

            {#<li class="" ><a>...</a></li>#}

        {% endif %}

        {% if currentPage != page | round(0,'floor') %}

            <li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) + 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>

        {% else %}

            <li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>

        {% endif %}
    </ul>


    {% else %}



{# regular padginatoion #}
    <ul class="pagination pagination-sm">

        {% if currentPage != 1 %}

            <li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) - 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>

        {% else %}

            <li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>

        {% endif %}
        {#<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>#}



        {# loop for padgination #}
        {% for i in 1..page | round(0,'floor') %}

            {% if currentPage == i %}

                <li class="active" >

                    <a>{{ i }}<span class="sr-only">(current)</span></a>

                </li>


            {% else %}

                <li class="" >

                    <a href="{{ path('store_page', {'pageNumber': ((i) * 16)}) }}">{{ i }}<span class="sr-only">(current)</span></a>

                </li>


            {% endif %}

            {#<li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>#}

        {% endfor %}


        {% if currentPage != page | round(0,'floor') %}

            <li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) + 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>

        {% else %}

            <li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>

        {% endif %}
    </ul>

    {% endif %}



    {#<ul class="pagination">#}

        {#{% if currentPage != 1 %}#}

            {#<li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) - 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>#}

        {#{% else %}#}

            {#<li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>#}

        {#{% endif %}#}
        {#<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-left"></span></a></li>#}



    {# loop for padgination #}
        {#{% for i in 1..page | round(0,'floor') %}#}

            {#{% if currentPage == i %}#}

                {#<li class="active" >#}
                    {#<form>#}
                    {#<button type="submit" >{{ i + 1 }}</button>#}
                    {#</form>#}
                    {#<a>{{ i }}<span class="sr-only">(current)</span></a>#}

                {#</li>#}


            {#{% else %}#}

                {#<li class="" >#}
                    {#<form>#}
                    {#<button type="submit" >{{ i + 1 }}</button>#}
                    {#</form>#}
                    {#<a href="{{ path('store_page', {'pageNumber': ((i) * 16)}) }}">{{ i }}<span class="sr-only">(current)</span></a>#}

                {#</li>#}


            {#{% endif %}#}

            {#<li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>#}

        {#{% endfor %}#}


        {#{% if currentPage != page | round(0,'floor') %}#}

            {#<li class=""><a href="{{ path('store_page', {'pageNumber': (currentPage * 16) + 16 }) }}" aria-label="Previous"><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>#}

        {#{% else %}#}

            {#<li class="disabled"><a><span aria-hidden="true" class="fa fa-angle-double-right"></span></a></li>#}

        {#{% endif %}#}
    {#</ul>#}
</nav>