{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Home Page

{% endblock %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block body %}
    {{ parent() }}


    <div class="hero jumbotron">
        {# breadcrumbs #}
        {#<ol class="breadcrumb">#}
            {#<li><a href="{{ path('home') }}">Home</a></li>#}
            {#<li class="active">Home</li>#}
        {#</ol>#}
        <h1 class="store-h1">The Bladesmith's Workbench</h1>


    </div>



    {#<p>{{ t }}</p> *** this was just for testing *** #}



    <main class="gallery container">

        <div class="row">
            <h2 class="col-xs-offset-1">Knife Gallery</h2>

        {#top padgination#}
            <div class="top-pagdgination col-lg-offset-9 col-md-offset-8 col-sm-offset-6 col-xs-offset-2">
                {{ include('store/_storePadgination.html.twig') }}
            </div>


        </div>



    {#list out items#}
        <div class="row items">
            <ul class="list-inline">

                {% for item in items %}
                    {% if item.isRemovedFromStore == false %}
                    <li class="col-md-2 col-sm-4 col-xs-8 col-sm-offset-1 col-xs-offset-2  store-item">
                        <a href="{{ path('single_item', { 'itemObj' : item.id }) }}">

                            {#<img class="img-responsive center-block item-img" align="middle" src="{{ asset('uploads/' ~ item.itemImg ) }}" alt="{{ item.itemName }}"/>#}
                            <div class="item-img"
                                 style="
                                     background: url( {{ asset('uploads/' ~ item.itemImg) }} ) no-repeat;
                                     /*background-repeat: ;*/
                                     background-size: cover;
                                     background-position: center;
                                     background-color: #fff;
                                     border: 1px solid rgba(0,0,0,0.38);


                                        ">

                                {% if item.quantity == 0 %}

                                    <p class="out-of-stock ">Currently Out Of Stock</p>
                                {% endif %}

                            <div class="item-name ">
                                <p>{{ item.itemName }}</p>
                                <p>${{ item.price }}</p>
                                {#<p>{{ asset("uploads/" ~ item.itemImg ) }}</p>#}
                            </div>


                            </div>

                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>


{#bottom padgination#}
        <div class="bottom-pagdgination col-lg-offset-9 col-md-offset-8 col-sm-offset-6 col-xs-offset-2">
            {{ include('store/_storePadgination.html.twig') }}
        </div>



    </main>





{% endblock %}
{% block javascript %}


    {{ parent() }}
{% endblock %}