
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Registration

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    {{ parent() }}


    {# breadcrumbs #}
    <ol class="breadcrumb">
        <li><a href="{{ path('store') }}">Home</a></li>
        <li class="active">Edit Customer</li>
    </ol>



    <main class="customer-edit container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-lg-4 col-md-6 col-sm-6">Edit {{ app.user.firstName }}</h1>



                {{ include('store/_guestRegistrationForm.html.twig',{
                    'submitBtn' : 'Edit',
                    'cancelPath' : path('store')
                }) }}


            </div>
        </div>
    </main>






{% endblock %}
{% block javascript %}
    {{ parent() }}


{% endblock %}







