
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Registration

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    {{ parent() }}


    {# breadcrumbs #}
    <ol class="breadcrumb">
        <li><a href="{{ path('store') }}">Home</a></li>
        <li class="active">Customer Registration</li>
    </ol>



    <main class="container-fluid customer-reg">
        <div class="row">
            {#<div class="col-xs-12">#}
                <h1 class="col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-lg-4 col-md-6 col-sm-6">Customer Registration</h1>



                {{ include('store/_guestRegistrationForm.html.twig',{
                    'submitBtn' : 'Register',
                    'cancelPath' : path('store')
                }) }}


                {#{{ form_start(registrationForm) }}#}
                    {#{{ form_widget(registrationForm) }}#}
                    {#<button type="submit" class="btn btn-primary" formnovalidate >Register</button>#}
                {#{{ form_end(registrationForm) }}#}
            {#</div>#}
        </div>
    </main>






{% endblock %}
{% block javascript %}
    {{ parent() }}


{% endblock %}

