{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Home Page

{% endblock %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block body %}
    {{ parent() }}





    {#<div class="row">#}

        {#<p class="col-md-6 col-md-offset-4"> Are you a bladesmith? <a class="btn btn-primary btn-xs" href="#" role="button">Register to become a vendor</a></p>#}

    {#</div>#}



    <main class="container-fluid">

    </main>







    <div>
        <ul>
            <li>
                <a href="#">
                    About The Bladesmith's Workbench
                </a>
            </li>

            <li>
                <a href="{{ path('store') }}">
                    Knife Gallery
                </a>
            </li>

            <li>
                <a href="{{ path('vendor_register') }}">
                    Regiser To Become A Vendor
                </a>
            </li>
        </ul>
    </div>





{#{% block footer %}#}
    {#{{ parent() }}#}

{#{% endblock %}#}



{% endblock %}
{#{% block javascript %}#}


    {#{{ parent() }}#}
{#{% endblock %}#}