{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}

    - Item Page

{% endblock %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block body %}
    {{ parent() }}

    {# breadcrumbs #}
    <ol class="breadcrumb">
        <li><a href="{{ path('store') }}">Home</a></li>
        <li class="active">{{ item.itemName }}</li>
    </ol>



    <main class="container item-details">
        <div class="">
            <a href="{{ path('store') }}"><span class="fa fa-angle-double-left"></span> back to shopping</a>
            <h1>{{ item.itemName }} details</h1>
        </div>





        <div class="row display-item">

            {#display item#}
            <div class="col-sm-3 col-xs-10">
                <img class="img-responsive center-block item-img" src="{{ asset('uploads/' ~ item.itemImg ) }}" alt="{{ item.itemName }}"/>
            </div>


            {#item details#}
            <div class="col-sm-3 col-xs-10 col-sm-offset-1 col-xs-offset-1">

                <h2>{{ item.itemName }}</h2>


                {% if vendor.companyName %}

                    <p class="vendor">by {{ vendor.companyName }}</p>
                {% else %}

                    <p class="vendor">by {{ vendor.firstName }} {{ vendor.lastName }}</p>
                {% endif %}


                <p class="price">Price: ${{ item.price | number_format(2, '.', ',') }}</p>

                {% if item.quantity > 0 %}

                    <p class="in-stock">In Stock</p>
                    <p>Quantity in stock: {{ item.quantity }}</p>
                {% else %}

                    <p class="out-of-stock ">Currently Out Of Stock</p>
                {% endif %}


                <h3>Description</h3>
                <p class="description">{{ item.description }}</p>

            </div>


            {% if item.quantity > 0 %}

            {#add to cart#}
            <div class="col-sm-3 col-xs-8 col-sm-offset-1 col-xs-offset-3">

                <form class="add-to-cart" action="{{ path('add_to_cart', {'addItem': item.id}) }}" method="POST">

                    <div class="input-group input-group-sm col-xs-6">
                        <span class="input-group-addon" id="sizing-addon3">Quantity</span>
                        {#<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">#}
                        <input type="text" class="form-control" aria-describedby="sizing-addon3" size="20" name="quantity" value="1" min="1" max="{{ item.quantity + 1 }}">
                    </div>
                    {#<input type="number" name="quantity" value="1" min="1" max="{{ item.quantity + 1 }}"/>#}
                    <button class=" btn btn-md btn-success col-xs-6" type="submit">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span></button>
                </form>


            </div>

            {% else %}

            {#add to car button disabled #}
            <div class="col-sm-3 col-xs-8 col-sm-offset-1 col-xs-offset-3">

                {#<form class="add-to-cart" action="{{ path('add_to_cart', {'addItem': item.id}) }}" method="POST">#}
                    <button disabled="disabled" class="btn btn-md btn-danger" type="submit"><span class="glyphicon glyphicon-exclamation-sign"></span> Out of stock</button>
                {#</form>#}

            </div>


            {% endif %}

            {#suggest more from this vendor#}
            <div class="col-sm-3 col-xs-10 col-sm-offset-1 col-xs-offset-1">
                <p role="separator" class="divider"></p>
                {% if itemsByThisVendor %}

                    {% if vendor.companyName %}

                        <p>More items by </p>
                        <h3 class="suggensted-vendor">{{ vendor.companyName }}</h3>
                    {% else %}

                        <p>More items by </p>
                        <h3 class="suggensted-vendor">{{ vendor.firstName }} {{ vendor.lastName }}</h3>
                    {% endif %}


                    <ul class="suggensted-vendor-items col-sm-12">

                    {% for vendorItem in itemsByThisVendor %}

                        {% if vendorItem.id != item.id %}

                        <li class="row"><a href="{{ path('single_item', { 'itemObj' : vendorItem.id }) }}">

                            <div class="col-sm-6 col-xs-6">
                                <div class="vendorItem-img"
                                     style="
                                             background: url( {{ asset('uploads/' ~ vendorItem.itemImg) }} ) no-repeat;
                                             /*background-repeat: ;*/
                                             background-size: cover;
                                             background-position: center;
                                             background-color: #fff;
                                             border: 1px solid rgba(0,0,0,0.38);
                                            ">

                                    {% if vendorItem.quantity == 0 %}

                                        <p class="out-of-stock out-of-stock-sm-thumbnail ">Currently Out Of Stock</p>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="suggensted-vendor-item-details col-sm-6 col-xs-6">
                                <p>{{ vendorItem.itemName }}</p>
                                <p>${{ vendorItem.price | number_format(2, '.', ',') }}</p>
                                {#<p>Quantity in stock: {{ item.quantity }}</p>#}
                            </div>


                            </a></li>

                            {% endif %}

                    {% endfor %}

                    </ul>
                {% endif %}

            </div>

        </div>


    </main>

    {#add to cart button#}









{% endblock %}
{% block javascript %}


    {{ parent() }}
{% endblock %}