
{#<?php#}


{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }}

    - Login
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}


{% block body %}
{{ parent() }}

<main class="container login-form">
    <div class="row login">

        <h1 class="col-lg-8">Customer Login</h1>



        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

            {{ form_start(form,{
                'attr': {
                    'class': 'form-inline col-lg-8 col-sm-10'
                }
            }) }}

            <div class="col-md-3 col-sm-4 ">
                {{ form_row(form._email,{
                    'attr': {
                        'placeholder': 'Email',
                    },
                    'label_attr': {
                        'class': 'sr-only'
                    }
                }) }}
            </div>

            <div class="col-md-3 col-sm-4 ">
                {{ form_row(form._password,{
                    'attr': {
                        'placeholder': 'Password',
                    },
                    'label_attr': {
                        'class': 'sr-only'
                    }
                }) }}
            </div>

            <div class="col-md-4 col-sm-4 ">
                <button type="submit" class="btn btn-primary col-xs-12" formnovalidate>login</button>

            </div>
            {{ form_end(form) }}

        <p class="col-md-12">Not registered customer?<a href="{{ path('guest_register') }}" class=""> Easy, register here.</a></p>
    </div>


</main>
{% endblock %}








