
{#<?php#}


{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }}

    - Login
{% endblock %}


{% block body %}
{{ parent() }}







<main class="container login-form">
    <div class="row login">

        <h1 class="col-lg-8">Login</h1>



        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {{ form_start(form,{
            'attr': {
                'class': 'form-inline col-lg-8 col-sm-10'
            }
        }) }}

        <div class="col-md-3 col-sm-4 ">
            {{ form_row(form._email,{
                'attr': {
                    'placeholder': 'Email',
                },
                'label_attr': {
                    'class': 'sr-only'
                }
            }) }}
        </div>

        <div class="col-md-3 col-sm-4 ">
            {{ form_row(form._password,{
                'attr': {
                    'placeholder': 'Password',
                },
                'label_attr': {
                    'class': 'sr-only'
                }
            }) }}
        </div>

        <div class="col-md-4 col-sm-4 ">
            <button type="submit" class="btn btn-primary col-xs-12" formnovalidate>login</button>

        </div>
        {{ form_end(form) }}

        <p class="col-md-12">Not registered vendor?<a href="{{ path('vendor_register') }}" class=""> Easy, register here.</a></p>
    </div>












{#<div class="container">#}
{#<div class="row">#}
    {#<div class="col-xs-12">#}
        {#<h1>Vendor Login</h1>#}





        {#{% if error %}#}
            {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
        {#{% endif %}#}

        {#{{ form_start(form) }}#}
            {#{{ form_row(form._email) }}#}
            {#{{ form_row(form._password) }}#}
        {#<button type="submit" class="btn btn-primary" formnovalidate>login</button>#}
        {#{{ form_end(form) }}#}
        {##}

    {#</div>#}
{#</div>#}
{% endblock %}









